__pycache__
.ipynb_checkpoints
.vscode
NMFproj.egg-info
NMFproj.egg-info/SOURCES.txt
NMFproj.egg-info/PKG-INFO
.setup.py.swp
NMFproj.egg-info/entry_points.txt
NMFproj.egg-info/PKG-INFO
.Rproj.user
NMFprojection.Rproj
._PBMC.ipynb
dev
dev/
cNMF/PBMC
cNMF/data
test/STR1.5_Fr1.2.3.5.6_RMSE.csv
test/STR1.5_Fr1.2.3.5.6_projection.csv
test/STR1.5_Fr1.2.3.5.6_hvgstats.txt
test/STR1.5_Fr1.2.3.5.6_ExplainedVariance.csv
